html,
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}

.heading {
  color: #4f4f4f;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.heading2
{
  position: relative;
  font-weight: 500;
  font-size: 35.95px;
  text-align: center;
  color: #4F4F4F;
  margin-bottom: 3rem;
}
.heading2::after
{
  position: absolute;
  content: "";
  width: 148px;
  height: 1px;
  background-color: #cccccc;
  left: 50%;
  bottom: -17px;
  transform: translate(-50%,0);
}
.heading2::before
{
  position: absolute;
  content: url(../images/forma-1-copy-5.png);
  align-items: center;
  height: 35px;
  width: 48px;
  padding: 0;
  margin: 0;
  background: white;
  bottom: -30px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%,0);
}
h3 {
  font-weight: 700;
}
.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.top-nav {
  display: none;
  height: 48px;
  width: 48px;
  text-align: center;
  padding-top: 10px;
  position: fixed;
  border-radius: 24px;
  bottom: 70px;
  left: 50px;
  background-color: #525252;
}
.chat-bottom {
  position: fixed;
  bottom: 70px;
  right: 50px;
}

/* home section */
#home {
  /* background: url("../images/Landing-Page-background-image.png") no-repeat;
  background-attachment: fixed;
 
  background-size: cover; */
  background: rgba(52,52,52,0.5);
  padding-top: 9.7rem;
}

.dropdown-toggle::after {
  display: none;
}
#logo,
#scroll,
#navbarNav,
#navtog {
  transition: 0.4s ease-in-out;
}
#scroll {
  align-items: flex-start;
}
#navtog {
  margin-top: 30px;
}
#navbarNav {
  padding-top: 35px;
}
.nav-item {
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-link,
a .nav-link {
  color: #ffffff !important ;
  padding: 0 !important;
}
.arrow img {
  width: 85px;
  height: 23px;
}
.btn-tran {
  color: white;
  border-radius: 27px;
  font-size: 18px;
  height: 54px;
  line-height: 54px;
  padding: 0 31px;
  border: 1px solid white;
  background-color: rgba(0, 96, 114, 0.6);
}
.btn-tran:hover {
  background-color: rgb(0, 96, 114);
  color: white;
}

.dropdown > button,
.dropdown > button:hover {
  background-color: transparent;
  outline: none;
  border: none;
}
.rouded-border {
  border: 1px solid #ffffff80;
  border-radius: 20px;
  height: 40px;
  padding: 0px 25px;
  line-height: 38px;
  align-items: center;
  font-size: 16px;
}

.home-text {
  margin-top: 9.5rem;
  padding-left: 3.5rem;
}
.home-text h1 {
  font-size: 50px;
}
.home-text ul {
  padding-left: 0;
  list-style-position: inside;
}
.home-text ul li {
  list-style-image: url(../images/ic-check.png);
  line-height: 27px;
}
/* home section */

/* why_halperland */
#why {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: url(../images/blog-left-bg.png), url(../images/blog-right-bg.png);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
}
.helper-card {
  width: 320px;
  color: #565656;
}
.helper-card h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  margin: 1.5rem auto;
}
.images3 {
  color: #4f4f4f;
  margin-top: 120px;
}
.images3 img{
  width: 403px;
  height: 336px;
}
.images3 .row .align-self-center p {
  font-size: 18px;
}
small {
  font-size: 13px;
  color: #a3a3a3;
}
.read-post,
.read-post:hover {
  font-size: 18px;
  color: #4f4f4f;
  text-decoration: none;
}
/* why_halperland */

/*testimonial*/
#test {
  background-color: #f4f5f8;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.testimonial {
  border-left: 3.2px solid #006072;
  position: relative;
  border-radius: 0.2rem;
  background-color: white;
  box-shadow: 0 0 30px #e4ebf0;
  padding: 2rem 1.8rem;
}
#mail {
  outline: none;
  border: 1px solid #565656;
  height: 40px;
  width: 233px;
  border-radius: 20px;
  background-color: #f4f5f8;
  padding-left: 20px;
}
.btn-mail {
  color: white;
  background-color: #ff7b6d;
  border-radius: 20px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
}
.chat {
  position: absolute;
  top: 20px;
  right: 20px;
}
.intro {
  display: flex;
}
.btn-pe,.btn-pe:hover
{
  color: white;
  background-color: #1D7A8C;
  border-radius:23px ;
  height: 46px;
  font-size: 20px;
  padding:0 50px
}
/*testimonial*/

.row1 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  flex-basis: 0 0 auto;
  width: 69%;
  margin: 5% auto 2%;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
.row1 .wrap {
  align-self: flex-start;
}
.row1 .wrap p {
  font-size: 20px;
}

/* footer */
#ft2 {
  background-color: rgb(41, 41, 41, 0.8);
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: white;
  padding: 10px 0;
}
#ft2 div:nth-child(1) {
  display: flex;
  width: 98%;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
#ft2 div a {
  color: #6eabef;
}
#ft2 div p {
  margin-bottom: 0;
}
#ft2 .btn {
  background-color: #eed507;
  font-size: 1rem;
  height: 40px;
  text-align: right;
  line-height: 40px;
  padding: 0 37px;
  color: #4f4f4f;

  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 20px;
}
#footer {
  background-color: #111111;
  padding: 30px 0 20px;
}

.footer-nav ul li {
  color: white !important;
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}
.footer-nav ul li a {
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 14px;
}
.footer-flex {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0 0 100%;
  width: 85%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.footer-flex {
  align-items: center;
}
/* footer */

@media (max-width: 1450px) {
  .arrow img {
    width: 70px;
    height: 18px;
  }
}

@media (max-width: 1366px) {
  #home {
    background-attachment: scroll;
  }
  .arrow img {
    width: 40px;
    height: 14px;
  }
}
@media (max-width: 1200px) {
  .navbar-collapse {
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    padding: 10px;
  }
  .nav-item {
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .helper-card,
  .helper-card img {
    width: 250px;
  }
  .footer-flex {
    flex-direction: column;
  }
  .footer-nav ul li {
    display: block;
    margin: 20px auto;
    text-align: center;
  }
  .row1 {
    flex: 1 1 50%;
    width: 100%;
    flex-wrap: wrap;
  }
  .row1 .wrap {
    flex-basis: 50%;
    text-align: center;
    margin: 10px auto;
  }
}
@media (max-width: 991px) {
  .helper-card,
  .helper-card img {
    width: 320px;
  }
  .home-text {
    padding: 15px 15px;
  }
  .testimonial,
  .card,
  .helper-card {
    margin: 10px auto;
  }
}
@media (max-width: 500px) {
  .row1 {
    width: 100%;
    flex-wrap: wrap;
  }
  .row1 .wrap {
    flex-basis: 100%;
    text-align: center;
    margin: 10px auto;
  }
  .images3 img{
    width: 300px;
    height: 250px;
  }
  .btn-mail,#mail
  {
    margin-top: 10px;
  }
  #logo
  {
    height: 54px !important;
    width: 73px !important;
  }
  #navtog
  {
    margin-top: 13px !important;
  }
  #home
  {
    padding-top: 1rem;
  }
  .chat-bottom
  {
    display: none;
  }
}





/*---------------------------------------------FAQs--------------------*/
#faq
{
  padding-top:4rem ;
  padding-bottom: 4rem;
}
#scroll2
{
  background-color: rgba(41, 41, 41, 0.8);
}
#faq .col-12 .btn
{
  background-color: #f6f6f6;
  color: #646464;
  border-bottom: 4px solid #1D7A8C;
  height: 66px;
  font-size: 24px;
  width: 50%;
  text-transform: uppercase;
  font-weight: normal;
}
.btn:hover{
  box-shadow: none ;
}

#faq .col-12 .nav-active
{
  color: White;
  background-color: #1D7A8C;
}

.btn-link,.btn-link:hover
{
  color: #646464;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: space-around;
}
.btn-link:focus
{
  box-shadow: none;
  text-decoration: none;
}
#faq .card{
  box-shadow: none;
}
#faq .card-header
{
  background-color: white;
  border: none;
  padding: 0 10px 0 0;
  
}
#faq .card-body
{
  color: #646464;
  font-size: 16px;
  padding-left: 45px;
  padding-right: 10px;
}
.btn-link div{
  flex-wrap: wrap;
}
#service
{
  display: none;
}
#service,#customer,#left,#right
{
  transition: 0.5s ease-in-out ;
}
.nav-2
{
  background-color: #29626D;
  padding-left:20px ;
  padding-right:20px;
}
.acordn
{
  margin-right: 10px;
}
#faq img{
  transform: rotateZ(-90deg);
  transition: 0.3s ease-in-out;
}
@media (max-width:768px)
{
  #faq .col-12 .btn
  {
    height: 100px;
  }
}
@media (max-width:400px)
{
  #faq .col-12 .btn
  {
    height: 120px;
  }
}

/*---------------------------------------------Prices--------------------*/
#price,#contact,#about{
  padding-top:4rem ;
  padding-bottom: 4rem;
}
#price-card
{
  width: 553px;
  text-align: center;
  border-color:#B0C9CE;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  box-shadow: none;
  border-radius: 0 !important;
}
#price-card .card-header
{
  height: 59px;
  background-color: #1D7A8C;
  font-size: 28px;
  color: white;
  padding-top: 0;
  font-weight: bold;
  border-radius: 0;
  line-height: 59px;
}
#price-card h2
{
  font-size: 48px;
  color: #646464;
}
#price-card .card-body ul{
  list-style-position: inside;
  list-style-image:url(../images/forma-1_5.png);
}
#price-card .card-body
{
  padding-left: 20%;
  padding-right:20% ;
}
#price-card .card-body li{
 
  line-height: 24px;
  color: #646464;
  vertical-align: middle;
}
#price-card .card-body li::marker
{
  height:24px ;
  width: 24px;
}
#ext
{
  border-top: 1px solid #dcdcdc;
  margin: 4rem auto;
  padding: 4rem 0;
}
.ext-service
{
  display: flex;
  width: 90%;
  max-width: 100%;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ext-service p
{
  margin: 0;
}
.img-con
{
  width: 108px;
  height: 108px;
  border-radius: 54px;
  border: 1px solid #B0C9CE;
  position: relative;
  margin-bottom: 10px;
}
.img-con img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#cleaning_section
{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #F6F6F6;
}
#cleaning_section .heading2::before
{
  background-color:#F6F6F6 ;
}
.cleaning-card
{
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.cleaning-card img{
  width: 360px;
  height: 210px;
}
.cleaning-card-body h5
{ 
  color: #4f4f4f;
  margin: 1rem 0 0.5rem;
}
.cleaning-card-body ul
{
  list-style: none;
  color: #4F4F4F;
  padding-left: 0;
}
.cleaning-card-body ul li
{
  text-decoration: none;
}
#why1
{
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#contact h3{
  text-align: center;
  color: #4F4F4F;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
#contact form .form-control{
  border: 1px solid #C8C8C8;
}
#contact form ::placeholder,#contact select{
  color: #A0A0A0;
}
#contact form .input-group-text{
  background-color: rgba(160, 160, 160,0.2);
}
#about p{
  color: #646464;
}
.ser{
  position: relative;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ser::before
{
  content: url(../images/right-arrow.png);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
}
@media (max-width:1200px)
{
  .cleaning-card img
  {
    width: 300px;
    height: 175px;
  }
}
@media (max-width:992px)
{
  .cleaning-card img
  {
    width: 360px;
    height: 210px;
  }
}
@media (max-width:768px)
{
  .ext-service
  {
    flex: 1 1 49%;
  }
  .ext-service div{
    flex-basis: 50%;
  }
  .img-con
  {
    margin: auto;
  }
  #price-card
  {
    width: 100%;
  }
 
}
@media (max-width:400px)
{
   .cleaning-card ,.cleaning-card img
  {
    width: 100%;
  }
  #price-card .card-body
{
  padding-left: 5%;
  padding-right:5% ;
}
}
